<div class="layout">
  <aside class="sidebar">
    <h2>Smart Parking</h2>

    <nav>
      <a routerLink="/admin/dashboard" routerLinkActive="bg-slate-700 text-white">Dashboard</a>
      <a routerLink="/admin/vehiculos" routerLinkActive="bg-slate-700 text-white">Vehiculos</a>
      <a routerLink="/admin/espacios" routerLinkActive="bg-slate-700 text-white">Espacios</a>
      <a routerLink="/admin/usuarios" routerLinkActive="bg-slate-700 text-white">Usuarios</a>
      <a (click)="logout()">Cerrar sesion</a>
    </nav>
  </aside>

  <main class="content">
    <header class="topbar">
      <div>
        <h1>Dashboard</h1>
        <p class="subtitle">Resumen general del sistema</p>
      </div>

      <div class="user-box">
        <span>{{ userName }}</span>
      </div>
    </header>

    <section class="view">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
